
/* This css selects all classes
   Margin/padding set to 0 to make a cleaner look
   Margin is the space outside something
   Padding is the space inside something
   border-box accounts for any border and padding when adjusting weight and height
    */
* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
/* Used to contain the entire webpage 
   Position is relative to allow top, left, right, bottom properties
   Width determines how much of the screen the section takes up, 100% being the whole screen
   Display flex enables flex content for all children of section
   Justify content center distributes space between and around content items of a flex container
   Space-between is useful for pushing objects in the same container apart
   Align items center aligns flex items in the center
   100vw is 100% view width
   100vh is 100% view height
   These are useful to make things full page */
section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
/* Absolute header to ensure it stays at the top
   Top set to 0 to make it close to the top
   Width 100% to make it full screen
   Display flex to make the header a flex container
   Justify content space between to push About/Store left and Gmail/Images right
   Padding 20px for the spacing about the header*/
section header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
/* Display flex to make the ul a flex container
   Justify content and align center*/
section header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* List style none gets rid of the bullet points of the list items
   Margin left gives space to the left of the list item
   Font family is useds to set the font
   Font size set to 14px
   */
section header ul li {
  list-style: none;
  margin-left: 20px;
  font-family: arial;
  font-size: 14px;
}
/* Color sets the text color of the hyper links
   Text decoration set to none removes the underline from the links
   Font size set to 14px
   */
section header ul li a {

  color: #111;
  text-decoration: none;
  font-size: 14px;
}
/* Text decoration underline draws a line under the link when hovered over
   The color of the url will change when hovered over*/
section header ul li a:hover {
  text-decoration: underline;
  color: #111;
}

/* This section is the css styling for the Sign in button
   Background color set to #1a73e8
   Removed the border and outline from the button
   Color of the font set to #fff
   Font size 14 and weight set to 500 or 50% boldness
   Min width is the width of the button
   9px padding top bottom
   23px padding left right
   Text and vertical alignment to center
   Border radius to round the corners slightly
   Cursor set to pointer to become a pointed finger on hover
   */
section header ul li button {
  background: #1a73e8;
  border: none;
  outline: none;
  padding: 10px 14px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  min-width: 96px;
  padding: 9px 23px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  cursor: pointer;
}
/* Change background color to #2b7de9 on hover
*/
section header ul li button:hover {
  background-color: #2b7de9;
}
/* This section styles the google image, search bar, search buttons, and language section
   Width set to 600px to match google search bar width
   Flex direction set to column to organize the items in this main div from the top-down
   Align and justify set to center to center all flex items
   Align center for vertical alignment
   Justify center for horizontal alignment
   Margin bottom to slightly lift the section up
   */
section .main {
  width: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
/* Position relative to allow for movement
   Width 100% to take up the entire screen
   Margin-top set to 20px to create room on between the Google image and the search bar
   */
section .main .searchBar {
  position: relative;
  width: 100%;
  margin-top: 20px;
}
/* Search bar width takes 100% of the container width (580px)
   Padding for the height of the search
   Padding left and right for the text to line up properly in the bar
   Border radius to round the corners
   Border for the solid border around the search bar
   No outline
   Font size to adjust the text size when you type in the search bar
   */
section .main .searchBar .search {
  width: 100%;
  padding: 13px;
  padding-left: 45px;
  padding-right: 60px;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}
/* Icons are within the search div
   Top 0px aligns the icons with the search bar
   Width 100% will stretch the icon div the length of the search bar
   Display flex to make the icon div a flex container
   Padding to adjust the positioning of the icons
   Justify space between to create the left side and right side effect
   Align items center to center items
   No pointer events
   */
section .main .searchBar .icons {
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}
/* Margin top to create space between the search bar and buttons
   */
section .main .buttons {
  margin-top: 20px;
}
/* Margin and padding to position buttons neatly
   Color for the specific color google uses
   Background color for the specific color google uses
   Font size 14 for a neat size
   No border
   Cursor becomes a pointer on hover
   Border radius of 4px to smooth corners
   Border 1px solid transparent to show a slight border
   No outline*/
section .main .buttons button {
  margin-top: 0 5px;
  padding: 12px 20px;
  color: #555;
  background-color: #f8f9fa;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  outline: none;
}

section .main .buttons button:hover {
  border: 1px solid #ccc;
}

section .main .languages {
  display: flex;
  margin-top: 30px;
}

section .main .languages li {
  list-style: none;
  margin: 0 5px;
  font-size: 13px;
}

section .main .languages li a {
  text-decoration: none;
  color: #1a0dab;
}

section .main .languages li a:hover {
  text-decoration: underline;
}

section .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f2f2f2;
}

section .footer .row {
  padding: 15px 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

section .footer .row .country {
  color: #5f6368;
}

section .footer .row.row2 {
  display: flex;
  justify-content: space-between;
}

section .footer .row.row2 ul {
  display: flex;
}

section .footer .row.row2 ul li {
  list-style: none;
}

section .footer .row.row2 ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #5f6368;
  margin-right: 25px;
}

section .footer .row.row2 ul:nth-child(2) li a {
  text-decoration: none;
  font-size: 14px;
  color: #5f6368;
  margin-right: 0px;
  margin-left: 25px;

}